@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.login-container {


  .title {
    text-align : center;
    font-size  : 23px;
    font-weight: 700;
    padding-top: 30px;
  }

  .text {
    font-weight   : 600;
    padding-bottom: 3px;
  }

  input {
    padding      : 5px;
    outline      : none;
    margin-bottom: 10px;
  }

  .password-group {
    position: relative;

    input {
      width: 100%;
    }

    i {
      cursor   : pointer;
      position : absolute;
      right    : 20px;
      top      : 50%;
      transform: translateY(calc(-50% - 5px));
    }
  }

  button {
    width: 100%;
  }

  .back {
    margin-top: 5px;
    cursor    : pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}